/* video background styling */
#bkgvideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.formstyle {
	background-color: black;
	opacity: 0.5;
	/* width: 500px; */
}
