/* video background styling */
* {
	margin: 0;
	box-sizing: border-box;
}

#bkgvideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}
/*  carousel */
.carousel-image{
	height:300px;
	width: 300px !important;


.formstyle {
	background-color: black;
	opacity: 0.5;
	margin-top: 100px;
	/* width: 500px; */
}

#site-name {
	font-size: 50px;
	font-weight: bold;
	color: tomato;
	text-align: center;
}

.label {
	color: tomato;
}
